<hr>
<p style="color:blue">
  vehicle module works here!
</p>
<div class="col-md-12">
  <div class="col-md-5" style="display:inline-block">
    <h6>No of Vehicles: {{vehicles.length}}</h6>
  </div>
  <div class="col-md-6" style="float:right;margin-right:10px;">
    <button style="float:right;" class="btn btn-primary" routerLink="/addVehicle">+ Add Vehicle</button>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col"> VEHICLE ID</th>
      <th scope="col"> NAME</th>
      <th scope="col">VIN</th>
      <th scope="col">MAKE/MODEL/YEAR </th>
      <th scope="col">MAINTENANCE STATUS </th>
      <th scope="col">LICENSE PLATE NO</th>
      <th scope="col">ODOMTER</th>
      <th scope="col">FUEL LEVEL</th>
      <th scope="col">ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicles; let i = index">
      <td>{{vehicle.id}}</td>
      <td>{{vehicle.name}}</td>
      <td>{{vehicle.vin}}</td>
      <td>{{vehicle.make}}/{{vehicle.model}}/{{vehicle.year}}</td>
      <td [ngStyle]="vehicle.maintenanceStatus == 'OK' ? {'color':'green'} : {'color': 'Red'}">
        {{vehicle.maintenanceStatus}}
        <button class="btn btn-link" (click)="changeStatus(i)">Change</button>
      </td>
      <td>{{vehicle.licenseNo}}</td>
      <td>{{vehicle.odometer}} mi</td>
      <td>{{vehicle.fuelLevel}} %</td>
      <td>
        <button class="btn btn-primary" (click)="updateOdometer(i)">Update Odometer</button>
        <button class="btn btn-danger" (click)="deleteVehicle(i)">Delete Vehicle</button>
      </td>
    </tr>
  </tbody>
</table>

<form *ngIf="this.nameIndex" (ngSubmit)="updated()">
  <h6 style="color:blue">Update Odometer for {{this.nameIndex}}</h6>
  <input type="number" name="odometer" [(ngModel)]="computedOdometer" value="computedOdometer" />
  <button style="margin-right:5px;" class="btn btn-primary" type="submit">Update</button>
</form>