.label1{
    width:240px;
}
.input1{
    width:240px;
}
.btn1{
    color:white;
    background-color: blue;
    padding:8px 10px;
}
.form1{
    padding:10px;
}
.btnSize{
    width:490px;
    margin-top:10px;
}